body{
    background-color: rgb(74, 24, 255);
    font: normal 15pt Arial;
}

section{
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
header{
        color: white;
        text-align: center;
        
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div#msg{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px;
}
div#foto {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: auto;
    border-radius: 50%;
}
div > img#foto{
    aspect-ratio: 1/1 ;
    object-fit: cover;
    overflow: hidden ;
    border-radius: 50%;
    width: 100%;
    display: block;
}